@model SampleProject.Models.CustomerViewModel

<form asp-controller="Customer" asp-action="Save">
    <label asp-for="ContactName"></label>
    <input asp-for="ContactName" />
    <br />
    <br />
    <label asp-for="CompanyName"></label>
    <select asp-for="CompanyName" asp-items="ViewBag.Companies"></select>
    <br />
    <br />
    <label asp-for="City"></label>
    <select asp-for="City" asp-items="ViewBag.Cities"></select>
    <br />
    <br />
    <label asp-for="Country"></label>
    <input asp-for="Country" />
    <br />
    <br />
    <input type="submit" value="Save" />
</form>